<title>
	主页一</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>菜单管理</cite></a>
	</div>
</div>

<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-front-search">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="layui-card-body">
			<div style="padding-bottom: 10px;">
				<!-- <button class="layui-btn layuiadmin-btn-admin" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</button> -->
				<button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
				<button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
				<!-- <button class="layui-btn layuiadmin-btn-admin" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button> -->
			</div>

			<!-- <table id="LAY-user-back-menu2" class="layui-hide" lay-filter="LAY-user-back-menu2"></table> -->
			<table class="layui-hide" id="menu" lay-filter="menu"></table>
			<script type="text/html" id="zizeng">
				{{d.LAY_TABLE_INDEX+1}}
			</script>


			<script type="text/html" id="table-useradmin-admin">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
			</script>

			<script type="text/html" id="toolbarDemo">
				<div class="layui-btn-group">
			        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
			        <button class="layui-btn layui-btn-sm" lay-event="updata"><i class="layui-icon">&#xe642;</i>修改</button>
			        <button class="layui-btn layui-btn-sm" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</button>
			        <button class="layui-btn layui-btn-sm" lay-event="refresh"><i class="layui-icon">&#xe666;</i>刷新</button>
			    </div>
			</script>



		</div>
	</div>
</div>

<script>
	layui.use(['layer', 'util', 'treeTable'], function() {
		//var table = layui.table
		//, form = layui.form;
		var $ = layui.jquery;
		var layer = layui.layer;
		var util = layui.util;
		var treeTable = layui.treeTable,
			form = layui.form;

		// 渲染表格
		var insTb = treeTable.render({
			elem: '#menu',
			url: "/sysuser/sys_permission/findMenuTree",
			toolbar: 'default',
			height: 'full-200',
			method: 'post',
			tree: {
				iconIndex: 2,
				isPidData: true,
				idName: 'permissionId', //父ID
				pidName: 'parentId', //子ID
				openName: 'open', // 是否默认展开的字段名
				//public bool open { get; set; }open字段是bool类型
			},
			defaultToolbar: ['filter', 'print', 'exports'],
			cols: [
				[{
						type: 'checkbox',
						fixed: 'left'
					}, {
						field: 'permissionId',
						title: 'ID',
						fixed: 'left',
						unresize: true,
						sort: true,
						width:5
					}, {
						field: 'permissionName',
						title: '菜单名称',
						edit: 'text'
					}, {
						field: 'parentName',
						title: '父菜单名称'
					}
					// , { field: 'remark', title: '备注', edit: 'text' }
					, {
						field: 'href',
						title: '菜单路径'
					}, {
						field: 'sort',
						title: '菜单排序',
						width:5
					}, {
						field: 'css',
						title: '菜单图标'
					}
					/*  , { field: 'Isfather', title: '是否父菜单'} */
				
					, { fixed: 'right', title: '操作', toolbar: '#table-useradmin-admin' } 
				]
			],
			style: 'margin-top:0;'
		});

		//监听状态操作
		form.on('switch(ShowDemo)', function(data) {
			var swithcData = data;
			var id = data.value; // 获取要修改的ID
			var IsShow = this.checked ? '启用' : '停用'; // 当前状态值
			$.ajax({
				type: 'post',
				url: '/api/menuApi/postUpdMenu',
				data: {
					"id": id,
					"IsShow": IsShow
				},
				error: function(data) {
					console.log(data);
					layer.msg('数据异常，操作失败！');
				},
				// 修改失败，请填写对应的参数
				success: function(data) {
					layer.alert("操作成功", {
						icon: 6
					});
					//window.location.reload();
				}
			});
		});

		//监听行工具事件
		treeTable.on('tool(menu)', function(obj) {
			var data = obj.data;
			//console.log(obj)
			if (obj.event === 'del') {
				layer.confirm('真的删除行么', function(index) {
					//var id = data['id'];
					var param = {
						id: data['id']
					};
					$.ajax({
						type: 'post',
						url: '/api/menuApi/postDeleMenu',
						async: false,
						data: param,
						success: function(data) {}
					})
					layer.msg('已删除数据!', {
						icon: 1,
						time: 1000
					});
					setTimeout('window.location.reload()', 1000);
					//alert(id);
				});
			} else if (obj.event === 'edit') {
				//xadmin.open('修改用户', '/User/UserUpd?id=' + data['id'], 600, 400);//flag=edit&id=
				layer.open({
					type: 2,
					title: "修改菜单",
					shadeClose: true,
					shade: 0.5,
					area: ['600px', '600px'],
					content: ['/menu/menuOper?flag=edit&id=' + data['id'], 'no'],
					//end: function () { location.reload(); }
				})
			}
		});

		// 搜索
		$('#search').click(function() {
			var keywords = $('#demoReload').val();
			if (keywords) {
				insTb.filterData(keywords);
			} else {
				insTb.clearFilter();
			}
			return false;
		});

		// 全部展开
		$('#btnExpandAll').click(function() {
			insTb.expandAll();
		});

		// 全部折叠
		$('#btnFoldAll').click(function() {
			insTb.foldAll();
		});

		$("#OpenMenuAdd").click(function() {
			//alert(1);
			//var url = "{:url('/menu/menuAdd')}";
			layer.open({
				type: 2,
				title: "添加菜单",
				shadeClose: true,
				shade: 0.5,
				area: ['600px', '600px'],
				content: ['/menu/menuOper?flag=add', 'no'],
				//end: function () { location.reload(); }
			})
		})
	});
</script>
