<title>
	主页一</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>学校管理</cite></a>
	</div>
</div>

<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">学校</label>
					<div class="layui-input-block">
						<input type="text" name="name" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-front-search">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="layui-card-body">
			<div style="padding-bottom: 10px;">
				<button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
				<button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
			</div>

			<table id="LAY-user-usermanage" lay-filter="LAY-user-usermanage"></table>

			<script type="text/html" id="zizeng">
				{{d.LAY_TABLE_INDEX+1}}
							</script>


			<script type="text/html" id="table-useradmin-admin">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
							 
						     <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
						</script>


		</div>
	</div>
</div>


<script>
	layui.use('app-manage', layui.factory('app-manage')).use(['admin', 'app-manage', 'table',
		'commonReq'
	], function() {
		var $ = layui.$,
			admin = layui.admin,
			commonReq = layui.commonReq,
			view = layui.view,
			table = layui.tableRequest,
			table = layui.table,
			form = layui.form;
		console.log(1222221222);
		form.render(null, 'layadmin-useradmin-formlist');

		//监听搜索
		form.on('submit(LAY-user-front-search)', function(data) {
console.log(data);
			var field = data.field;
console.log(field);
            // var uri = '/system/school_info/getSchoolList';
			var method = 'post';
			var res = {};
			res = {
				keywords: field.name
			};
    console.log(res);
			//执行重载
			table.reload('LAY-user-usermanage', {
				where: res
			});


		});

		//事件
		var active = {
			    batchdel: function(){
			      var checkStatus = table.checkStatus('LAY-user-usermanage')
			      ,checkData = checkStatus.data; //得到选中的数据
				console.log(checkData);
			      if(checkData.length === 0){
			        return layer.msg('请选择数据');
			      }

			    layer.confirm('是否确认删除', function(index) {
		layer.close(index);
			    
			    				let ids = [];
			    				// console.log(params)
			    				for (var i = 0; i < checkData.length; i++) {
			    					ids.push(checkData[i].id);
			    				}
			    
			    console.log(checkData.id);
			    				// var uri = '/system/school_info/delete';
			    				var data = JSON.stringify(ids);
			    				var method = 'post';
			    				commonReq.adminReq(uri, data, method, null);
								layui.table.reload('LAY-user-usermanage'); //重载表格
			    				layer.close(index);
			    				layer.msg('已删除');
			    			});
							}
			    
			,add: function() {
				admin.popup({
					title: '添加学校',
					area: ['500px', '600px'],
					id: 'LAY-popup-school-add',
					success: function(layero, index) {
						view(this.id).render('user/administrators/schoolform').done(function() {
							// form.render(null, 'layuiadmin-form-admin');
							form.render(null, 'layadmin-useradmin-formlist');
							//监听提交
							form.on('submit(LAY-user-back-submit)', function(data) {
		console.log(data);		
						        // var uri = '/system/school_info/saveSchool';
								var field = data.field; //获取提交的字段
		console.log(field);

								var date = JSON.stringify(field);
	    console.log(date);
								
								var method = 'post';
								
								var done = function(res) {
		console.log(res)
									if (res.status == 200) {
										layer.closeAll('loading');
										layer.load(2);
										layer.msg("添加成功", {
											icon: 6
										});
										setTimeout(function() {
											layer.closeAll(); //关闭所有的弹出层
											// table.reload("Users");
										}, 1000);

									} else {
										layer.msg("添加失败", {
											icon: 5
										});
									}
								}
								commonReq.adminReq(uri, date, method, done);

								layui.table.reload('LAY-user-usermanage'); //重载表格
								layer.close(index); //执行关闭 
							});
						});
					}
				});
			}
		}
		$('.layui-btn.layuiadmin-btn-admin').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
</script>
<script>
	// layui.use('sample', layui.factory('sample'));
</script>
