<title>
    主页一</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户管理</cite></a>
    </div>
</div>


<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
			<div class="layui-form-item">

				<div class="layui-inline">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
					<button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</button>
				</div>


			</div>
		</div>

		<div class="layui-card-body">
			<div style="padding-bottom: 10px;">
				<button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
				<button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
			</div>

			<table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
			<script type="text/html" id="zizeng">
				{{d.LAY_TABLE_INDEX+1}}
			</script>


			<!-- <script type="text/html" id="imgTpl">
				<img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
		    </script> -->
			<!-- 这里的 d 和上面的是一样的，表示当前行数据 -->

			<!-- <script type="text/html" id="statusTpl">
				<input type="checkbox" lay-skin="switch" lay-filter="switchGoodsID" lay-text="启用|禁用" {{ d.status == "1" ? "checked" : "" }}>
			 </script> -->


			<script type="text/html" id="statusTpl">
				<input type="checkbox"   lay-skin="switch"   lay-filter="switchGoodsID"  
				userId="{{d.userId}}"  lay-event="open" lay-text="启用|禁用"
							        class="switch_checked"
		                           {{d.status == "1" ? "checked" : "" }} >
			</script>



			<script type="text/html" id="table-useradmin-webuser">
				{{# if (d.userName !="admin") { }}
					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
		        {{# }else{ }}
					<a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					<a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
				{{# } }}
			</script>

		</div>
	</div>
</div>

<script>
	layui.use('useradmin', layui.factory('useradmin')).use(['admin', 'useradmin', 'table', 'commonReq'], function() {
		var $ = layui.$,
			admin = layui.admin,
			commonReq = layui.commonReq,
			view = layui.view,
			table = layui.tableRequest,
			form = layui.form,
			table = layui.table;
		console.log(layui);
		console.log(table);
		form.render(null, 'layadmin-userfront-formlist');

		//监听搜索
		form.on('submit(LAY-user-front-search)', function(data) {
	console.log(data);
			var field = data.field;
	console.log(field);
			var uri = '/sysuser/sys_user/getSysUserByPage';
			var method = 'post';

			//commonReq.adminReq(uri, data, method, null);
			var res = {};
			res.columnFilters = {
				keywords: field.username
			};
    console.log(res);
			
			//执行重载
			table.reload('LAY-user-manage', {
				where: res
			});

		});

		//事件
		var active = {
			batchdel: function() {
				var checkStatus = table.checkStatus('LAY-user-manage');
				checkData = checkStatus.data; //得到选中的数据
	console.log(checkData);

				if (checkData.length === 0) {
					return layer.msg('请选择数据');
				}

				layer.confirm('是否确认删除', function(index) {
					layer.close(index);

					let ids = [];
					// console.log(params)
					for (var i = 0; i < checkData.length; i++) {
						ids.push(checkData[i].userId);
					}
	console.log(checkData.userId);
					
					var uri = '/sysuser/sys_user/delete';
					var data = JSON.stringify(ids);
					var method = 'post';
					commonReq.adminReq(uri, data, method, null);
					layui.table.reload('LAY-user-manage'); //重载表格
					layer.close(index);
					layer.msg('已删除');
				});





			},
			add: function() {
				admin.popup({
					title: '添加用户',
					area: ['550px', '500px'],
					id: 'LAY-popup-user-add',
					success: function(layero, index) {

						view(this.id).render('user/user/userform').done(function() {
							// 添加用户----角色选择
							var uri = '/sysuser/sys_role/findAll';
							var data = null;
							var method = "post";
							var loadDeptSelect = function(role) {
								form.render();
								var option = "<option value=''>请选择角色</option>"; //初始化option选项
								var str = "";
								var data = role.data;
								for (i = 0; i < data.length; i++) {
									option += "<option value='" + data[i].id + "' ";
									option += ">" + data[i].roleName + "</option>";
									$("#typeroleBox").html(option);
								}
								form.render('select');
							}
							commonReq.adminReq(uri, data, method, loadDeptSelect);




							//添加用户---学校选择
							var uri = '/system/school_info/getSchoolList';
							var data = null;
							var method = "post";
							var loadDeptSelect = function(school) {
								form.render();
								var option = "<option value=''>请选择部门名称</option>"; //初始化option选项
								var str = "";
								var data = school.data;
								for (i = 0; i < data.length; i++) {
									option += "<option value='" + data[i].id + "' ";
									option += ">" + data[i].name + "</option>";
									$("#typeselectBox").html(option);
								}
								form.render('select');

							}
							commonReq.adminReq(uri, data, method, loadDeptSelect);


							form.render(null, 'layuiadmin-form-useradmin');
							//????

							//监听提交
							form.on('submit(LAY-user-front-submit)', function(data) {
								var field = data.field; //获取提交的字段
								var date = JSON.stringify(field);
								console.log(date)
								var uri = '/sysuser/sys_user/save';
								var method = 'post';
								var done = function(res) {
									if (res.status == 200) {
										layer.closeAll('loading');
										layer.load(2);
										layer.msg("添加成功", {
											icon: 6
										});
										setTimeout(function() {
											layer.closeAll(); //关闭所有的弹出层
											// table.reload("Users");
										}, 1000);

									} else {
										layer.msg("添加失败", {
											icon: 5
										});
									}
								}
								commonReq.adminReq(uri, date, method, done);

								//提交 Ajax 成功后，关闭当前弹层并重载表格
								//$.ajax({});
								layui.table.reload('LAY-user-manage'); //重载表格
								layer.close(index); //执行关闭 
							});
						});

						// function clickme() {
						// 	layer.closeAll(); //疯狂模式，关闭所有层
						// }


					}
				});
			}

		};

		$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
</script>







<script>
	//加载 controller 目录下的对应模块
	/*

	  小贴士：
	    这里 console 模块对应 的 console.js 并不会重复加载，
	    然而该页面的视图则是重新插入到容器，那如何保证能重新来控制视图？有两种方式：
	      1): 借助 layui.factory 方法获取 console 模块的工厂（回调函数）给 layui.use
	      2): 直接在 layui.use 方法的回调中书写业务代码，即:
	          layui.use('console', function(){ 
	            //同 console.js 中的 layui.define 回调中的代码 
	          });
	          
	  这里我们采用的是方式1。其它很多视图中采用的其实都是方式2，因为更简单些，也减少了一个请求数。
	  
	*/
	// layui.use('console', layui.factory('console'));
</script>
