<div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
	<script type="text/html" template>
		<input type="hidden" name="id" value="{{ d.params.id || '' }}" >
  </script>
  
	<div class="layui-form-item">
		<label class="layui-form-label">学校名称</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">注册新用户</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="regiestNewUser" value="{{ d.params.regiestNewUser || '' }}" placeholder="请输入注册新用户地址" lay-verify="required" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">找回密码</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="findSecret" value="{{ d.params.findSecret || '' }}" placeholder="请输入找回密码地址" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">一键认证</label>
		<div class="layui-input-inline">
			<script type="text/html" template>

				<input type="text" name="keyAuthentication"   value="{{ d.params.keyAuthentication || '' }}" placeholder="请输入一键认证地址" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">用户充值</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="userRecharge" value="{{ d.params.userRecharge || '' }}" placeholder="请输入用户充值地址" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">秘钥</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<textarea name="findSecret"  value="{{ d.params.findSecret || '' }}" style="height:30px; width:190px;" placeholder="请输入秘钥" class="layui-textarea" ></textarea>
				<!-- <input type="text"    value="{{ d.params.findSecret || '' }}" autocomplete="off" class="layui-input"> -->
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">查询余额</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="balanceInquiry" value="{{ d.params.balanceInquiry || '' }}" placeholder="请输入查询余额地址" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">退出登录</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="logoutLogin" value="{{ d.params.logoutLogin || '' }}" placeholder="请输入退出登录地址" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">vlan</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="vlan"  value="{{ d.params.vlan || '' }}"   placeholder="请输入vlan" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">line</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="line"   value="{{ d.params.line || '' }}"   placeholder="请输入line" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">学校总人数</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="totalPeopleNum"   value="{{ d.params.totalPeopleNum || '' }}" pplaceholder="请输入学校总人数" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">助手地址</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="schoolServiceUrl"    value="{{ d.params.schoolServiceUrl || '' }}" placeholder="请输入助手地址"  autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">日志端口</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="schoolUserLogPort"   value="{{ d.params.schoolUserLogPort || '' }}" placeholder="请输入用户操作日志端口" autocomplete="off" class="layui-input">
      </script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline" style="width:50px;">
			<input type="button" onclick="clickme()" lay-filter="LAY-user-back-submit" value="取消" class="layui-btn layui-btn-primary ">
		</div>
		<div class="layui-input-inline" style="width:50px;  padding-left: 40px;">
			<input type="button" lay-submit lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
		</div>

	</div>
</div>
<script type="text/javascript">
	function clickme() {
		// layer.close(index);
		layer.closeAll(); //疯狂模式，关闭所有层
	}
</script>

<script>
	layui.use(['admin', 'form'], function() {
		var $ = layui.$,
			form = layui.form;

	});
</script>
