
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">快捷方式</div>
            <div class="layui-card-body">
              
              <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage1">
                          <i class="layui-icon layui-icon-console"></i>
                          <cite>主页一</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage2">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>主页二</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="component/layer/list">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>弹层</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="/senior/im/">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>聊天</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="component/progress/index">
                          <i class="layui-icon layui-icon-find-fill"></i>
                          <cite>进度条</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="app/workorder/list">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>工单</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="user/user/list">
                          <i class="layui-icon layui-icon-user"></i>
                          <cite>用户</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/system/website">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>设置</cite>
                        </a>
                      </li>
                    </ul>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>我的资料</cite>
                        </a>
                      </li>
                    </ul>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">待办事项</div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-backlog">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a lay-href="app/content/comment" class="layadmin-backlog-body">
                        <h3>待审评论</h3>
                        <p><cite>66</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="app/forum/list" class="layadmin-backlog-body">
                        <h3>待审帖子</h3>
                        <p><cite>12</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="template/goodslist" class="layadmin-backlog-body">
                        <h3>待审商品</h3>
                        <p><cite>99</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                        <h3>待发货</h3>
                        <p><cite>20</cite></p>
                      </a>
                    </li>
                  </ul>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a href="javascript:;" class="layadmin-backlog-body">
                        <h3>待审友情链接</h3>
                        <p><cite style="color: #FF5722;">5</cite></p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">数据概览</div>
            <div class="layui-card-body">
              
              <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                <div carousel-item id="LAY-index-dataview">
                  <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              
            </div>
          </div>
		  
		  
         <!-- <div class="layui-card">
            <div class="layui-tab layui-tab-brief layadmin-latestData">
              <ul class="layui-tab-title">
                <li class="layui-this">今日热搜</li>
                <li>今日热帖</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table id="LAY-index-topSearch"></table>
                </div>
                <div class="layui-tab-item">
                  <table id="LAY-index-topCard"></table>
                </div>
              </div>
            </div>
          </div> -->
		  
		 
		  
		  <table id="demo" lay-filter="test" class="layui-table" lay-even lay-skin="nob" width="100%" height="">
		    <colgroup>
		      <col >
		      <col >
		      <col>
		    </colgroup>
			
		    <thead>
		      <tr>
		        <th>昵称</th>
		        <th>序号</th>
		        <th>ID</th>
				<th>用户名</th>
				<th>学校</th>
				<th>角色</th>
				<th>邮箱</th>
				<th>手机</th>
				<th>启用</th>
				<th>创建时间</th>
				<th>操作</th>
		      </tr> 
		    </thead>
			
		    <tbody>
		      <tr>
				<td></td>
		        <td>0</td>
		        <td>10</td>
		        <td>acroot</td>
				<td></td>
				<td>AC管理员</td>
				<td></td>
				<td></td>
				<td class="td-status">
				        <input type="checkbox" <?php if ($vo['status'] ==1): ?>  checked="" <?php endif; ?> name="status[]" lay-skin="switch" lay-filter="switchTest" lay-text="开启|关闭" value="<?= $vo['status'] ?>_<?= $vo['id'] ?>"
				</td>
				 
				 
				<td>2020/12/04 16:46:05</td>
				<td></td>
				<td></td>
		      </tr>
			  <tr>
			         <td></td>
			         <td>1</td>
			         <td>9</td>
			  	     <td>cscs</td>
			  	     <td>测试学校</td>
			  		 <td>cs</td>
			  				<td></td>
			  				<td></td>
			  				<td class="td-status">
			  				        <input type="checkbox" <?php if ($vo['status'] ==1): ?>  checked="" <?php endif; ?> name="status[]" lay-skin="switch" lay-filter="switchTest" lay-text="开启|关闭" value="<?= $vo['status'] ?>_<?= $vo['id'] ?>"
			  				</td>
			  				<td>2020/10/30 06:19:34</td>
			  				<td></td>
			  </tr>
			  <tr>
				    <td></td>
					<td>2</td>
					<td>8</td>
					<td>guangzhida</td>
					<td></td>
			  		<td>校园网管理员</td>
			  				<td></td>
			  				<td></td>
			  				<td></td>
			  				<td>2020/10/22 09:22:18</td>
			  				<td></td>
			  				
			  </tr>

			
			  
			  <tr>
				<td></td>
			    <td>3</td>
			    <td>7</td>
			    <td> ceshi2</td>
				<td></td>
			  	<td> 校园网管理员</td>
			  	<td></td>
			  	<td></td>
				<td></td>
				<td>2020/10/21 11:02:18</td>
				<td>0</td>
				<td></td>
			  </tr>
			   
			  <tr>
			    <td></td>
			    <td>4</td>
			    <td>5</td>
			  				<td>ceshi</td>
			  				<td>郑州树青中等专业学校</td>
			  				<td>ceshi</td>
			  				<td>111111@163.com</td>
			  				<td>18539572651</td>
			  				<td></td>
			  				<td>2020/09/29 14:30:08</td>
			  				<td></td>
			  </tr>
			  
			  <tr>
			    <td></td>
			    <td>5</td>
			    <td>4</td>
			  				<td>shuqing</td>
			  				<td>郑州树青中等专业学校</td>
			  				<td>cs</td>
			  				
			  				<td>18539572651@163.c</td>
			  				<td>18539572651</td>
			  				<td></td>
			  				<td>2020/08/14 18:20:58</td>
							<td></td>
							<td></td>
			  </tr>
			  
			  <tr>
			    <td></td>
			    <td>6</td>
			    <td>3</td>
			  				<td>122221</td>
			  				<td>郑州铁道中等专业学校</td>
			  				<td></td>
			  				
			  				<td>2013547701@qq.com</td>
			  				<td>18539572651</td>
			  				<td></td>
			  				<td>2020/08/14 18:20:58</td>
			  				<td></td>
			  </tr>
		      
		    </tbody>
		  </table>
		
		  
		  
		 <table id="demo" lay-filter="test"  class="layui-table" lay-even lay-skin="nob"></table>
		  <script>
		  layui.use('table', function(){
		    var table = layui.table;
		    
		    //第一个实例
		    table.render({
		      elem: '#demo'
		      ,height: 312
		      ,url: '/demo/table/user/' //数据接口
		      ,page: true //开启分页
		      ,cols: [[ //表头
		        {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
		        ,{field: 'username', title: '用户名', width:80}
		        ,{field: 'sex', title: '性别', width:80, sort: true}
		        ,{field: 'city', title: '城市', width:80} 
		        ,{field: 'sign', title: '签名', width: 177}
		        ,{field: 'experience', title: '积分', width: 80, sort: true}
		        ,{field: 'score', title: '评分', width: 80, sort: true}
		        ,{field: 'classify', title: '职业', width: 80}
		        ,{field: 'wealth', title: '财富', width: 135, sort: true}
		      ]]
		    });
		    
		  });
		  </script>
		  
		  
        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">版本信息</div>
        <div class="layui-card-body layui-text">
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td>当前版本</td>
                <td>
                  <script type="text/html" template>
                    v{{ layui.admin.v }}
                    <a href="" target="_blank" style="padding-left: 10px;">日志</a>
                  </script>
                  <a href="javascript:;" layadmin-event="update" style="padding-left: 5px;">检查更新</a>
                </td>
              </tr>
              <tr>
                <td>基于框架</td>
                <td>
                  <script type="text/html" template>
                    layui-v{{ layui.v }}
                  </script>
               </td>
              </tr>
              <tr>
                <td>主要特色</td>
                <td>单页面 / 响应式 / 清爽 / 极简</td>
              </tr>
              <tr>
                <td>获取渠道</td>
                <td style="padding-bottom: 0;">
                  <div class="layui-btn-container">
                    <a href="" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
                    <a href="" target="_blank" class="layui-btn">立即下载</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="layui-card">
        <div class="layui-card-header">效果报告</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showPercent="yes">
            <h3>转化率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-15"></span>）</h3>
            <div class="layui-progress-bar" lay-percent="65%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>签到率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-15"></span>）</h3>
            <div class="layui-progress-bar" lay-percent="32%"></div>
          </div>
        </div>
      </div>
      
      <div class="layui-card">
        <div class="layui-card-header">实时监控</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showPercent="yes">
            <h3>CPU使用率</h3>
            <div class="layui-progress-bar" lay-percent="58%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>内存占用率</h3>
            <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
          </div>
        </div>
      </div>
      
     <div class="layui-card">
        <div class="layui-card-header">产品动态</div>
        <div class="layui-card-body">
          <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade" lay-filter="news">
            <div carousel-item>
              <div><a href="" target="_blank" class="layui-bg-red"> 快速上手文档</a></div>
              <div><a href="" target="_blank" class="layui-bg-green">会员讨论专区</a></div> 
              <div><a href="" target="_blank" class="layui-bg-blue"> 官方后台模板系统</a></div>
            </div>
          </div>
        </div>
      </div>
 
     <div class="layui-card">
        <div class="layui-card-header">
          作者心语
          <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
        </div>
        <div class="layui-card-body layui-text layadmin-text">
          <p>一直以来，layui 秉承无偿开源的初心，虔诚致力于服务各层次前后端 Web 开发者，在商业横飞的当今时代，这一信念从未动摇。即便身单力薄，仍然重拾决心，埋头造轮，以尽可能地填补产品本身的缺口。</p>
          <p>在过去的一段的时间，我一直在寻求持久之道，已维持你眼前所见的一切。而 layuiAdmin 是我们尝试解决的手段之一。我相信真正有爱于 layui 生态的你，定然不会错过这一拥抱吧。</p>
          <p>子曰：君子不用防，小人防不住。请务必通过官网正规渠道，获得 <a href="http://www.layui.com/admin/" target="_blank">layuiAdmin</a>！</p>
          <p>—— 贤心（<a href="http://www.layui.com/" target="_blank">layui.com</a>）</p>
        </div>
      </div>
	  
    </div>
    
  </div>
</div>


<script>
//加载 controller 目录下的对应模块
/*

  小贴士：
    这里 console 模块对应 的 console.js 并不会重复加载，
    然而该页面的视图则是重新插入到容器，那如何保证能重新来控制视图？有两种方式：
      1): 借助 layui.factory 方法获取 console 模块的工厂（回调函数）给 layui.use
      2): 直接在 layui.use 方法的回调中书写业务代码，即:
          layui.use('console', function(){ 
            //同 console.js 中的 layui.define 回调中的代码 
          });
          
  这里我们采用的是方式1。其它很多视图中采用的其实都是方式2，因为更简单些，也减少了一个请求数。
  
*/
layui.use('console', layui.factory('console'));
</script>

